%h1 イベント一覧

%ul.list-group
  - @events.each do |event|
    = link_to(event, class: "list-group-item list-group-item-action") do
      %h5.list-group-item-heading= event.name
      %p.mb-1= "#{l(event.start_at, format: :long)} - #{l(event.end_at, format: :long)}"
  = paginate @events

- if @created_events
  %h2 主催のイベント
  %ul.list-group
    - @created_events.each do |event|
      = link_to(event, class: "list-group-item list-group-item-action") do
        %h5.list-group-item-heading= event.name
        %p.mb-1= "#{l(event.start_at, format: :long)} - #{l(event.end_at, format: :long)}"
  
  %h2 参加表明したイベント
  %ul.list-group
    - @participating_events.each do |event|
      = link_to(event, class: "list-group-item list-group-item-action") do
        %h5.list-group-item-heading= event.name
        %p.mb-1= "#{l(event.start_at, format: :long)} - #{l(event.end_at, format: :long)}"
